/* * {
    border: 1px solid white;
} */
body {
  background-image: url("./Images/back.jpg");
  background-color: #cccccc;
}

.Black {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0px 30%;
}

.Black * {
    margin: 5px 0px;
}

.NETFLIX {
    display: flex;
    color: white;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Archivo Black;
}

.nf {
    color: red;
}

.Thank {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: -30px;
    font-weight: bold
}
.div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 0px 50px; */
}

.div1 * {
    margin: 0px 50px;
}
.movie-type {
    /* margin-left: -80px; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: -300px;
}

.mt {
    margin-top: 10px;
}

.gender {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: -300px;
}

#name {
    /* width: 100%; */
    height: 30px;
}

#age {
    height: 30px;
}

#email {
    height: 30px;
}

#ctype {
    height: 30px;
}

.btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.btn:hover{
    cursor: pointer;
}